<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="wrapper">
      <h2>User List</h2>
      <div id="userList">
        <table>
          <thead>
            <th>Name</th>
            <th>Email</th>
            <th>DELETE</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <script src="/javascripts/global.js" />
  </body>
</html>
